{% extends 'base.html' %}

{% block content %}
{% load static %}
    <h1><strong>Passwords</strong></h1>
    {% if passwords %}
        <ul>
            {% for password in passwords %}
                <li>
                    Last changed: {{ password.last_changed }}
                    Strength: {{ password.strength }}
                    <a href="{% url 'change_password' password.id %}">Change password</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div style="text-align: center;">
            <img src="{% static 'images/sad_knight_no_passwords.png' %}" alt="Image" />
        </div>
    {% endif %}
{% endblock %}