{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Add a New Password</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <button type="submit" class="btn save-btn">Save Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #EDF6F9; /* Lightest blue for a calming background */
        color: #006D77; /* Dark blue text for contrast and readability */
    }
    
    .card {
        background-color: whitesmoke;
        border-left: 5px solid #E29578; /* Dark orange border for a touch of style */
    }

    h2.card-title {
        color: #006D77; /* Dark blue to maintain header consistency */
        font-weight: bold;
    }

    .form-group label, .form-control {
        color: #006D77; /* Dark blue text for readability */
    }

    .btn.save-btn {
        background-color: #006D77; /* Primary dark blue for buttons */
        color: white;
        border: none;
        padding: 10px 20px;
        margin-top: 20px;
    }

    .btn.save-btn:hover {
        background-color: #83C5BE; /* Light blue for hover effect */
    }

    /* Custom CSS for field alignment */   
    .form-group, .input-group {
        margin-bottom: 20px;
    }
</style>

{% endblock %}
